/SkiApiServer/obj
/SkiApiServer/bin
/Contracts/obj
*.cache
/Contracts/bin
/Entities/obj
/Entities/bin
/Repository/obj
/Repository/bin
/.vs
/ExternalServices/bin
/ExternalServices/obj
/identityServer/obj
/identityServer/bin
*.csproj.user
*.Development.json